@font-face {
	font-family: 'iconfont'; /* Project id 2631658 */
	src: url('iconfont.woff2?t=1626241099688') format('woff2'),
		url('iconfont.woff?t=1626241099688') format('woff'),
		url('iconfont.ttf?t=1626241099688') format('truetype'),
		url('iconfont.svg?t=1626241099688#iconfont') format('svg');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-php:before {
	content: '\e607';
}

.icon-close:before {
	content: '\e605';
}

.icon-fangda:before {
	content: '\e617';
}

.icon-suoxiao:before {
	content: '\e609';
}

.icon-bash_logout:before,
.icon-bash_profile:before,
.icon-bashrc:before {
	content: '\e60d';
}

.icon-java:before {
	content: '\e630';
	color: #d81e06;
}

.icon-apk:before {
	content: '\e6f9';
	color: rgb(122, 201, 68);
}

.icon-xls:before {
	content: '\e616';
	color: rgb(126, 195, 28);
}

.icon-excel:before {
	content: '\e6cb';
	color: rgb(69, 176, 88);
}

.icon-txt:before {
	content: '\e604';
	color: rgb(38, 150, 255);
}

.icon-unknow:before {
	content: '\e666';
}
.icon-shell:before {
	content: '\e721';
}

.icon-debianos:before {
	content: '\e679';
}

.icon-avi:before {
	content: '\e613';
}

.icon-doc:before {
	content: '\e614';
}

.icon-jpg:before {
	content: '\e61a';
}

.icon-mp3:before {
	content: '\e61b';
}

.icon-mp4:before {
	content: '\e61c';
}

.icon-png:before {
	content: '\e61e';
}

.icon-psd:before {
	content: '\e61f';
}

.icon-rar:before {
	content: '\e620';
}

.icon-zip:before {
	content: '\e66e';
	color: rgb(129, 153, 175);
}

.icon-md:before {
	content: '\e624';
}

.icon-css:before {
	content: '\e621';
	color: rgb(85, 174, 245);
}

.icon-html:before {
	content: '\e632';
	color: rgb(252, 73, 11);
}

.icon-rpm:before {
	content: '\e655';
	color: rgb(220, 230, 117);
}

.icon-jar:before {
	content: '\e615';
	color: rgb(241, 127, 83);
}

.icon-less:before {
	content: '\e688';
}

.icon-Directory:before {
	content: '\e601';
	color: rgb(255, 214, 89);
}

.icon-exe:before {
	content: '\e612';
}

.icon-ppt:before {
	content: '\e643';
	color: rgb(255, 116, 64);
}

.icon-word:before {
	content: '\e645';
	color: rgb(56, 126, 250);
}

.icon-cs:before {
	content: '\e61d';
}

.icon-app:before {
	content: '\e622';
}

.icon-cpp:before {
	content: '\e623';
}

.icon-rb:before {
	content: '\e625';
}

.icon-py:before {
	content: '\e626';
}

.icon-r:before {
	content: '\e628';
}

.icon-oc:before {
	content: '\e629';
}

.icon-rs:before {
	content: '\e62a';
}

.icon-go:before {
	content: '\e62b';
}

.icon-sql:before {
	content: '\e62c';
}

.icon-scala:before {
	content: '\e62d';
}

.icon-swift:before {
	content: '\e62e';
}

.icon-js:before {
	content: '\e62f';
}

.icon-xiazai:before {
	content: '\e641';
}

.icon-lianjie:before {
	content: '\e60c';
}

.icon-xiaoping:before {
	content: '\e96f';
}

.icon-quanping:before {
	content: '\e6e5';
}

.icon-exit:before {
	content: '\e600';
}

.icon-right:before {
	content: '\e602';
}

.icon-left:before {
	content: '\e603';
}
.icon-folder-add:before {
	content: '\e608';
}

.icon-file-add:before {
	content: '\e619';
}
